<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/"><strong>Learning-Fin.Tech</strong></a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/"><i class="fas fa-question-circle"></i>&emsp;about</a></li>
        <li class="hvr-underline-reveal"><a href="https://learning-fintech.github.io/book"><i class="fas fa-book"></i>&emsp;book</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/ether_real_estate/"><i class="fab fa-python"></i>&emsp;ether_real_estate</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
            <span class="copyright"><i class="fas fa-copyright"></i> <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> James Nordlund</span>
        </small>
        <div class="ftr-links">
          <a href="https://jamesnordlund.github.io"><i class="fas fa-user-circle"></i></a>
          <a href="https://www.linkedin.com/in/jamesnordlund"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/jamesnordlund"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/jamesnordlund"><i class="fab fa-twitter"></i></a>
        </div>
      </footer>
    </div>

  </body>
</html>
